//- META INFORMATION
- const page_title = 'Notice List'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'news'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false

//- Custom select
-
    const newsData = [
        { date: '2020年7月18日', desc: '法事(回忌法要）動画中継の開始'},
        { date: '2020年6月20日', desc: '今年度の盂蘭盆会に関しまして'},
        { date: '2020年5月20日', desc: '施餓鬼会を終えました'},
        { date: '2020年4月20日', desc: '一般墓地　B区画・C区画に空きがございます'},
        { date: '2020年4月10日', desc: '今年度の施餓鬼会に関しまして'},
        { date: '2020年4月 2 日', desc: '法事・葬儀に関しまして'},
        { date: '2020年3月30日', desc: '当山の新型コロナ感染対策'},
        { date: '2020年3月27日', desc: '花まつり中止のお知らせ'},
        { date: '2020年3月25日', desc: '春彼岸法要を終えました'},
        { date: '2020年3月20日', desc: '当山にお越しの際のお願い'},
        { date: '2020年3月10日', desc: '一般墓地　A区画に空きがございます'},
        { date: '2020年2月25日', desc: '新型コロナウィルスの終息祈願'},
        { date: '2020年2月12日', desc: '春季彼岸法要のお知らせ'},
        { date: '2020年1月 1 日', desc: '謹賀新年'},
        { date: '2019年12月1日', desc: '境内の大銀杏'},
        { date: '2019年10月19日', desc: '永代供養墓の一般公開'},
        { date: '2019年10月1日', desc: 'WEBサイト公開のお知らせ'},
    ];

doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.newsPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.sec01
                .news__bg
            section.news__inner
                h1.news__title お知らせ一覧

                .news__list.u-pcDb: each item in newsData
                    a.news__item(href="./single/")
                        p.news__date= item.date
                        p.news__desc= item.desc

                .news__list.u-spDb
                    - for (var x=0; x < 6; x++)
                        a.news__item(href="./single/")
                            p.news__date 2020年0月0日
                            p.news__desc 000000000000000000000000000000000000


                .pagination
                    a.pagination__item.is-active(href="#") 1
                    a.pagination__item(href="#") 2
                    a.pagination__item(href="#") 3
                    a.pagination__item(href="#") 4
                    a.pagination__item(href="#") &#187

            section.gallery
                .gallery__list
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-01.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-01sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 光徳院について
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-02.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-02sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 境内案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-03.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-03sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 墓地案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-04.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-04sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption アクセス



        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
