/*====================================================================
topPageFvSec
====================================================================*/
.top__kv {
  width: 100%;

  img {
    width: 100%;
  }
}

.top__content {
  color: $black;
  margin: 2.5rem 0 3rem;
  max-width: 68.5rem;
  width: 100%;
  font-size: 2rem;
  line-height: 2;
  font-family: $Font1;
  text-align: center;

  @include u-mqMax {
    font-size: 1.8rem;
    margin: 1.25rem auto 2rem;
  }
}

.inner {
  max-width: 70.5rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.topPage {
  .news {
    &__title {
      font-size: 3rem;
      color: $darkBlue;
      font-weight: 700;
      text-align: center;
      font-family: $Font1;
      margin-bottom: 2rem;

      @include u-mqMax {
        margin-bottom: 1rem;
        font-size: 2rem;
      }
    }

    &__list {
      position: relative;
    }

    &__item {
      @include u-mqMax {
        border-top: 1px solid $grayLight;

        &:last-child {
          border-bottom: 1px solid $grayLight;
        }
      }
    }

    &__link {
      @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: stretch);
      padding: 0.8rem 0 2rem;
      border-top: 1px solid $grayLight;

      @include u-mqMax {
        padding: 0.35rem 0;
        border: 0;
      }

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }

    &__cat {
      color: $white;
      height: 2.8rem;
      padding: 0.8rem 1rem;
      font-size: 1.2rem;
      border-radius: 3px;
      margin: 0.5rem 1.9rem 0 0;
      font-family: $Font1;
      background: darkBlue;
      @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center);
    }

    &__info {
      flex: 1;
    }

    &__infoDate {
      font-size: 1.2rem;
      color: $grayMid;
      line-height: 1.8;
      margin-bottom: 0.4rem;
      font-family: $Font1;
    }

    &__infoText {
      font-size: 1.6rem;
      line-height: 2rem;
      color: $black;
      font-family: $Font1;
      margin: 0;
    }

    &__button {
      width: 23.4rem;
      position: absolute;
      right: 0;
      bottom: 2rem;

      @include u-mqMax {
        position: static;
        margin-top: 2.45rem;
        width: 100%;
      }
    }

    &__buttonItem {
      width: 100%;
      text-align: center;
      position: relative;
      font-size: 1.4rem;
      @include u-trs;
      @include u-hoverOp;
      color: $black;
      display: block;

      @include u-mqMax {
        margin: 0 0 0 auto;
        width: 19rem;
      }

      &:hover {
        text-decoration: none;
      }

      &:before,
      &:after {
        content: "";
        bottom: 0;
        position: absolute;
      }

      &:before {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: 0;
        background: $black;
      }

      &:after {
        width: 2rem;
        height: 1px;
        right: 0;
        background: $black;
        transform-origin: right;
        transform: rotate(45deg);

        @include u-mqMax {
          transform: rotate(60deg);
        }
      }
    }
  }
}

.buttons {
  margin-top: 1.5rem;
  @include u-flex($fd: row, $fw: nowrap, $jc: space-between, $ai: center);

  @include u-mqMax {
    margin: 3.1rem auto 3rem;
    display: block;
  }

  &__item {
    width: 50.7%;
    max-width: 32.7rem;
    padding: 2rem 3rem 1.3rem 1.2rem;
    background: $lightblue;
    @include u-trs;
    @include u-hoverOp;
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center);

    @include u-mqMax {
      width: 100%;
      margin: 0 auto;

      &:nth-child(2) {
        margin-top: 0.7rem;
      }
    }

    &:hover {
      text-decoration: none;
    }

    &.arrow-right {
      position: relative;

      &:after {
        content: "";
        height: 4rem;
        width: 1.5rem;
        top: 50%;
        right: 2.5rem;
        position: absolute;
        transform: translateY(-50%);
        background: url("../images/common/icon_arrow-right.svg");
        background-size: 100% 100%;
      }
    }
  }

  &__icon {
    width: 3.7rem;
    margin-right: 0.8rem;

    img {
      width: 100%;
    }
  }

  &__text {
    font-weight: 700;
    color: $black;
    margin: 0;

    &.big {
      font-size: 2rem;
    }

    &.small {
      font-size: 1.6rem;
    }
  }
}

.banner {
  margin: 6.5rem auto 2rem;

  @include u-mqMax {
    display: none;
  }

  &__button {
    width: 20rem;
    margin: 0 auto;
    display: block;

    img {
      width: 100%;
    }
  }
}

.gallery {
  margin-top: 3.1rem;

  @include u-mqMax {
    margin-top: 0;
  }

  &__list {
    @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: stretch);

    @include u-mqMax {
      display: block;
    }
  }

  &__item {
    flex: 1;
    position: relative;
    margin: 0;
    overflow: hidden;
    @include u-trs;

    &:before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s;
      background: rgba($color: #434343, $alpha: 0.5);

      @include u-mqMax {
        background: rgba($color: #3c3c3c, $alpha: 0.7);
      }
    }

    img {
      width: 100%;
      @include u-trs;
    }

    &:hover {
      .gallery__itemCaption {
        opacity: 0;
      }

      &:before {
        opacity: 0;
      }

      img {
        transform: scale(1.1);
      }
    }
  }

  &__itemCaption {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6;
    transition: all 0.3s;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
