header.siteHeader
    .siteHeader__inner
        .u-spDb
            a.siteHeader__logo-sp(href="/")
                img(src=`${relativePath}/_assets/images/common/globalNav_logo-sp.png`, alt="nav logo")
            .hamburger
                .hamburger__trigger.js-hamburger
                    span.hamburger__triggerSpan
                    span.hamburger__triggerSpan
                    span.hamburger__triggerSpan
                p.hamburger__menu menu

        nav.siteHeader__nav(role='navigator')
            .u-pcDb
                ul.siteHeader__navList
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 光徳院について
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 境内案内
                    li.siteHeader__navItem
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 墓地案内
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) アクセス

            .u-spDb
                ul.siteHeader__navList
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) トップページ
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 光徳院について
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 境内案内
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) 墓地案内
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) アクセス
                    li.siteHeader__navItem
                        a.siteHeader__navLink(href=`${relativePath}/`) お知らせ


            a.siteHeader__logo(href="/")
                img(src=`${relativePath}/_assets/images/common/globalNav_kv.png`, alt="nav logo")
