footer.siteFooter
    .inner__cont
        .siteFooter__wrapper
            figure.siteFooter__kv
                img(src=`${relativePath}/_assets/images/common/footer_logo.png`, alt="")
            .siteFooter__content
                p.siteFooter__name.small 七星山
                p.siteFooter__name.big 光徳院
                p.siteFooter__details
                    | 164-0002 #[br.u-spDb]東京都中野区上高田5-18-3
                    br
                    | TEL：03−3386−5143
                    br
                    | FAX：03−3386−5371


|
|

// Scripts
if isPolyfill
    script(src=`${relativePath}/_assets/lib/polyfill/smoothscroll.min.js`)
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
if isBootstrap
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
