@mixin u-articleText($color: $textColor, $fzPC: 1.5rem, $lh: 1.8, $lts: 0.05em, $fzSP: 1.3rem, $fw: normal) {
  color: $color;
  font-size: $fzPC;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $lts;

  @include u-mqMax {
    font-size: $fzSP;
  }
}
