@mixin u-contentCenter($widthPC: $contentCenterWithPadding, $paddingLR-PC: $contentPaddingPC, $paddingLR-SP: $contentPaddingSP) {
  width: $widthPC;
  margin-left: auto;
  margin-right: auto;
  padding-left: $paddingLR-PC;
  padding-right: $paddingLR-PC;

  @include u-mqMax($maxW: $contentCenterWithPadding) {
    width: 100%;
    padding-left: $paddingLR-PC;
    padding-right: $paddingLR-PC;
  }

  // SP
  @include u-mqMax {
    padding-left: $paddingLR-SP;
    padding-right: $paddingLR-SP;
  }
}
