@mixin u-textBoxWrap {
  display: block;

  input {
    @include u-trsPC;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    display: block;
    border: 1px solid $bgColor01;
    border-radius: 4px;
    background: $bgColor01;
    font-size: 1.4rem;
    letter-spacing: 0.05em;

    &:focus {
      border-color: $keyColor01;
    }
  }
}


@mixin u-selectBoxWrap {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-top: 7px solid $bgColor0101;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px;
  }

  select {
    @include u-trsPC;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    display: block;
    position: relative;
    border: 1px solid $bgColor01;
    border-radius: 4px;
    background: $bgColor01;
    font-size: 1.4rem;
    letter-spacing: 0.05em;


    &:focus {
      border-color: $keyColor01;
    }
  }
}


@mixin u-searchBtnWrap {
  @include u-flex;
  border: 1px solid $bgColor01;
  border-radius: 4px;
  background: $bgColor01;

  input {
    @include u-trsPC;
    width: calc(100% - 40px);
    height: 100%;
    padding: 12px 15px;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.05em;

    &:focus {
      border-color: $keyColor01;
    }
  }

  button {
    @include u-imgText;
    width: 40px;
    height: 40px;
    display: block;
    background: url('../images/common/icon-search-black.png') no-repeat center / 21px auto;
  }
}


@mixin u-radioBtnWrap {
  display: block;

  input {
    display: none;

    &:checked {
      & + span[class*=__text] {
        &::before {
          border-color: $keyColor01;
        }
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__text {
    padding: 2px 0 2px 20px;
    display: block;
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 0.05em;

    &::before {
      @include u-trsPC;
      content: '';
      width: 1.4rem;
      height: 1.4rem;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $bgColor0105;
      border-radius: 100%;
    }
    &::after {
      @include u-trsPC;
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 3px;
      left: 3px;
      background: $bgColor01;
      border-radius: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }
}


@mixin u-checkBoxWrap {
  display: block;

  input {
    display: none;

    &:checked {
      & + span[class*=__text] {
        &::before {
          background: $keyColor01;
          border-color: $keyColor01;
        }
      }
    }
  }

  &__text {
    padding: 2px 0 2px 20px;
    display: block;
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 0.05em;

    &::before {
      @include u-trsPC;
      content: '';
      width: 1.4rem;
      height: 1.4rem;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $bgColor0105;
      border-radius: 4px;
    }
    &::after {
      @include u-arrow($color: $bgColor01);
      width: 3px;
      height: 7px;
      position: absolute;
      top: 3px;
      left: 6px;
      transform: rotate(45deg);
    }
  }
}


@mixin u-submitBtn($bgColor: $bgColor01, $bgColor01: $bgColor01, $borderColor: $bgColor01) {
  @include fontSmoothing;
  width: 100%;
  padding: 12px 5px;
  display: block;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background: $bgColor;
  color: $bgColor01;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  text-align: center;
}
