@mixin u-visualEditArea {
  @include u-articleText;

  * + * {
    margin-top: 1.75em;
  }

  a {
    @include u-trsPC;
    @include u-hoverOp;
    color: $keyColor02;
    text-decoration: underline;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 1.4;
  }

  h2 {
    margin-top: 2em;
    font-size: 3rem;
    line-height: 1.6;
  }

  h3 {
    color: $keyColor02;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
  }
  h4 {
    padding-left: 25px;
    position: relative;
    font-size: 1.8rem;
    line-height: 1.6;

    &::before {
      content: '';
      width: 17px;
      height: 17px;
      position: absolute;
      top: 3px;
      left: 0;
      background: $keyColor02;
    }
  }
  h5,h6 {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 0.5em;
  }
  p {
    @include u-articleText;
  }
  strong, strong * {
    font-weight: bold;
  }
  em, em * {font-style: italic;}
  ul {list-style-type: disc;}
  ol {list-style-type: decimal;}
  ul,ol {
    margin-top: 1em;
    padding-left: 1.4em;

    li {
      margin-top: 0.6em;
      line-height: 1.5;
    }
  }
  sup,sub {
    font-size: 1rem;
    line-height: 1 !important;
  }
  hr {
    width: 100%;
    height: 1px;
    display: block;
    background: $textColor;
  }
  blockquote {
    padding: 30px;
    background: $bgColor03;
  }
  table {
    margin-top: 3em;
    width: 100% !important;
    height: auto !important;
    border-collapse: collapse;
    background: $bgColor03;

    thead {
      th,td {
        font-weight: bold;
        text-align: center;
      }
    }

    tr {
      th,td {
        padding: 15px 20px;
        border: $bgColor04 1px solid;
        line-height: 1.5;
        text-align: left;
        vertical-align: middle;
      }

      th {
        width: 25%;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin-top: 1em;

    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.alignright {
      display: block;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .gallery {
    @include u-flex($jc: space-between);
  }

  .gallery-item {
    margin-top: 0;
    float: none;
    text-align: center;
  }

  .gallery-columns-2 .gallery-item {
    width: calc((100% - 40px) / 2);
  }
  .gallery-columns-3 .gallery-item {
    width: calc((100% - (40px * 2)) / 3);
  }
}

.u-visualEditArea {@include u-visualEditArea;}
