.newsPage {
  .news {
    &__inner {
      margin: 3.3rem auto 0;
      width: 100%;
      padding: 0 1rem 6.2rem;
      max-width: 92rem;

      @include u-mqMax {
        margin-top: 1.7rem;
        padding-bottom: 3.5rem;
      }
    }

    &__bg {
      width: 100%;
      height: 23rem;
      background: url("../images/children/news/news__bg-01.jpg") center center no-repeat;
      background-size: cover;

      @include u-mqMax {
        background: url("../images/children/news/news__bg-01sp.jpg") center center no-repeat;
        background-size: cover;

        @include u-mqMax {
          margin-top: 7.5rem;
          height: 5rem;
        }
      }
    }

    &__title {
      font-size: 3rem;
      padding-bottom: 1.5rem;
      color: $darkBlue;
      font-family: $Font1;
      border-bottom: 1px solid $darkBlue;
      text-align: center;

      @include u-mqMax {
        font-size: 2.4rem;
      }
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 1.8;
      text-align: center;
      margin: 1.8rem auto 4rem;

      @include u-mqMax {
        font-size: 2rem;
        margin: 1.5rem auto 2rem;
      }
    }

    &__list {
      margin: 3.8rem auto 0;
      width: 100%;
      max-width: 76.4rem;
      padding: 0 1rem;

      @include u-mqMax {
        padding: 0;
        margin: 3.3rem 0 0;
      }
    }

    &__item {
      @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: stretch);
      padding: 1.2rem 0 0.8rem;
      border-bottom: 1px solid $grayLight;
      @include u-trs;
      color: $black;
      @include u-hoverOp;

      @include u-mqMax {
        display: block;
        padding: 0.5rem 0;
      }

      &:hover {
        text-decoration: none;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    &__desc,
    &__date {
      font-size: 1.8rem;
      line-height: 1.6;
      font-family: $Font2;
      margin: 0;
    }

    &__date {
      width: 142px;

      @include u-mqMax {
        width: 100%;
        color: $darkBlue;
      }
    }

    &__desc {
      flex: 1;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .pagination {
    margin: 5.5rem 0 0;
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    &__item {
      width: 2.5rem;
      height: 3.8rem;
      @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);
      color: $gray;
      border: 1px solid $gray;
      font-size: 1.6rem;
      @include u-trs;
      @include u-hoverOp;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &.is-active {
        color: $white;
        background: $grayLight;
      }
    }
  }
}
