.newsPage.newsPageSingle {
  .news__bg {
    background: url("../images/common/news_single_bg.jpg") center center no-repeat;
    background-size: cover;

    @include u-mqMax {
      background: url("../images/common/news_single_bgsp.jpg") center center no-repeat;
      background-size: cover;
    }
  }

  .siteContent {
    padding-top: 0;
  }
}

.news__content {
  margin: 2rem auto 0;
}

.news__contentText {
  font-size: 1.8rem;
  font-family: $Font2;
  line-height: 1.6;

  @include u-mqMax {
    font-size: 1.6rem;
  }
}

.news__kv {
  margin: 7rem auto 0;
  max-width: 57.4rem;
  width: 100%;

  @include u-mqMax {
    margin-top: 2rem;
  }

  img {
    width: 100%;
  }
}
