//- META INFORMATION
- const page_title = 'Notice Single'
- const relativePath = '../..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'news_single'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false

doctype html
html(lang="ja")
    head
        //- HEAD
        include ../../_inc/_head.pug
    |
    |
    body.newsPage.newsPageSingle
        //- HEADER
        include ../../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.sec01
                .news__bg
            section.news__inner
                h1.news__title 0000000のお知らせ
                p.news__subtitle
                    |	タイトルタイトルタイトル
                    br
                    |	タイトルタイトル

                .news__content
                    p.news__contentText この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字

                figure.news__kv
                    img(src=`${relativePath}/_assets/images/common/sample.jpg`, alt="image")

            section.gallery
                .gallery__list
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-01.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-01sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 光徳院について
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-02.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-02sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 境内案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-03.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-03sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 墓地案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-04.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-04sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption アクセス

        //- FOOTER
        include ../../_inc/_siteFooter.pug
        |
        |
