//- META INFORMATION
- const page_title = 'Coding Test 202110'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        {
            title: 'Title 1',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 2',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 3',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
    ];

    //- KV Slider
    const kvSlider = [
        {
            image: 'topKVSlide_01.jpg',
            text: 'Slide 1'
        },
        {
            image: 'topKVSlide_02.jpg',
            text: 'Slide 2'
        },
        {
            image: 'topKVSlide_03.jpg',
            text: 'Slide 3'
        },
    ];

    //- Custom select
    const newsData = [
        { cat: 'お知らせ', date: '2020年7月18日', content: '法事(回忌法要）動画中継の開始'},
        { cat: 'お知らせ', date: '2020年6月20日　', content: '今年度の盂蘭盆会に関しまして'},
        { cat: 'お知らせ', date: '2020年5月20日　', content: '施餓鬼会を終えました'},
        { cat: 'お知らせ', date: '2020年4月20日', content: '一般墓地　B区画・C区画に空きがございます'},
        { cat: 'お知らせ', date: '2020年4月10日　', content: '今年度の施餓鬼会に関しまして'},
        { cat: 'お知らせ', date: '2020年4月 2 日', content: '法事・葬儀に関しまして'},
        { cat: 'お知らせ', date: '2020年3月30日　', content: '当山の新型コロナ感染対策'},
        { cat: 'お知らせ', date: '2020年3月27日　', content: '花まつり中止のお知らせ'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug

    body.topPage#top
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.sec01
                figure.top__kv
                    img.u-pcDb(src=`${relativePath}/_assets/images/top/top_kv-01.jpg`, alt="img01")
                    img.u-spDb(src=`${relativePath}/_assets/images/top/top_kv-01sp.jpg`, alt="img01")
                .inner
                    p.top__content
                        |   光徳院は、御府内八十八カ所霊場の#[br.u-spDb]第58番札所です。
                        br
                        |   平成7年に建立された五重塔は、
                        br
                        |   小さいながらも木像瓦葺きの#[br.u-spDb]本格的造りのもので、
                        br
                        |   仏塔愛好家の方々に親しまれてします。

            section.sec02
                .inner
                    .news
                        h2.news__title お知らせ
                        .u-pcDb
                            .news__list
                                .news__item: each item in newsData
                                    a.news__link(href="./news/single/")
                                        p.news__cat=item.cat
                                        .news_info
                                            p.news__infoDate=item.date
                                            p.news__infoText=item.content
                                .news__button
                                    a.news__buttonItem(href="./news") お知らせ一覧はこちら

                        .u-spDb
                            .news__list
                                - for (var x = 0; x < 5; x++)
                                    .news__item
                                        a.news__link(href="./news/single/")
                                            p.news__cat お知らせ
                                            .news_info
                                                p.news__infoDate 2020年7月18日
                                                p.news__infoText 法事(回忌法要）動画中継の開始
                                .news__button
                                    a.news__buttonItem(href="./news") お知らせ一覧はこちら

                    .buttons
                        a.buttons__item.arrow-right(href="")
                            figure.buttons__icon
                                img(src=`${relativePath}/_assets/images/common/icon_pdf.svg`, alt="pdf icon")
                            .buttons__text
                                p.buttons__text.big お塔婆の申込書
                                span.buttons__text.small ダウンロードはこちら
                        a.buttons__item.arrow-right(href="")
                            figure.buttons__icon
                                img(src=`${relativePath}/_assets/images/common/icon_pdf.svg`, alt="pdf icon")
                            .buttons__text
                            .buttons__text
                                p.buttons__text.big お塔婆の申込書
                                span.buttons__text.small ダウンロードはこちら

                    .banner
                        a.banner__button(href="")
                            img(src=`${relativePath}/_assets/images/common/icon_ye.svg`, alt="banner")
            section.gallery
                .gallery__list
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-01.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-01sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 光徳院について
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-02.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-02sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 境内案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-03.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-03sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption 墓地案内
                    figure.gallery__item
                        img.u-pcDb(src=`${relativePath}/_assets/images/common/gallery_kv-04.jpg`, alt="image")
                        img.u-spDb(src=`${relativePath}/_assets/images/common/gallery_kv-04sp.jpg`, alt="image")
                        figcaption.gallery__itemCaption アクセス


        //- FOOTER
        include ./_inc/_siteFooter.pug
