/*-----------------------------------------------
@keyframes
------------------------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

// Hamburger Menu
@keyframes HamBtnOpenTop {
  50% {
    top: 50%;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes HamBtnOpenBottom {
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}

@keyframes HamBtnCloseTop {
  50% {
    top: 50%;
    transform: translateX(-50%);
  }
  100% {
    top: 12px;
    transform: translateX(-50%);
  }
}

@keyframes HamBtnCloseBottom {
  50% {
    bottom: 50%;
    transform: translateX(-50%);
  }
  100% {
    bottom: 12px;
    transform: translateX(-50%);
  }
}
