// original color
$white: #fff;
$black01: #101010;
$black02: #212121;
$black03: #292929;
$black04: #666;
$blue01: #002BFF;
$blue02: #0077FF;


// color setting
$textColor: $white;
$bgColor01: $black01;
$bgColor02: $black02;
$bgColor03: $black03;
$bgColor04: $black04;
$keyColor01: $blue01;
$keyColor02: $blue02;


// breakpoints・width
$contentPaddingPC: 40px;
$contentCenter: 1100px;
$contentCenterWithPadding: $contentCenter + $contentPaddingPC * 2;
$windowPC: 769px;
$windowSP: 768px;
$contentPaddingSP: 15px;


// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 320px;
$footerHeightSP: 50px;


// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
