/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
	background: $blue;
	box-shadow: 0.1rem 0.1rem 0.6rem 0.4rem rgba($black, 0.04);
	height: 11.2rem;
	left: 50%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	transform: translateX(-50%);
	@include u-trs;
	@include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: flex-end);

	// @include u-mqMax {
	// 	height: 7.5rem;
	// 	overflow: hidden;
	// 	// height: 100vh;

	// 	&.is-active {
	// 		height: 100vh;
	// 	}
	// }

	.is_login_user & {
		top: $wpAdminBarPC;
	}

	// headerの上部固定の時に、ページごとにリピートされないように
	@include u-print {
		position: absolute;
	}

	&__inner {
		padding: 2.5rem 0;
		position: relative;

		@include u-mqMax {
			height: 100%;
			width: 100%;
		}
	}

	&__nav {
	}

	&__navList {
		list-style: none;
		padding-inline-start: 0;
		width: 91.5rem;
		// width: 100%;
		margin: 0 auto;
		@include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: stretch);

		// @include u-mqMax {
		// 	display: block;
		// 	width: 100%;
		// 	margin-top: 6rem;
		// 	padding: 0 1rem;
		// }
	}

	&__navItem {
		flex: 1;
		border-right: 1px solid $white;

		// @include u-mqMax {
		// 	width: 100%;
		// 	border-right: 0;
		// }

		&:nth-child(4),
		&:first-child {
			border-left: 1px solid $white;

			// @include u-mqMax {
			// 	border: 0;
			// }
		}

		&:nth-child(3) {
			border-right: 0;
			// margin: 0 4rem;
			width: 20.8rem;

			// @include u-mqMax {
			// 	width: 100%;
			// }
		}
	}

	&__navLink {
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1.2;
		color: $white;
		width: 100%;
		@include u-trs;
		font-family: $Font2;
		@include u-hoverOp;
		@include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

		// @include u-mqMax {
		// 	border-bottom: 1px solid $white;
		// 	padding: 1.5rem;
		// }

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	&__logo {
		position: fixed;
		top: 0;
		left: 50%;
		width: 13.6rem;
		box-sizing: border-box;
		transform: translateX(-50%);
		background-color: $white;
		padding: 1.2rem 0.8rem;
		box-shadow: 0.1rem 0.1rem 0.6rem 0.4rem rgba($black, 0.07);

		// @include u-mqMax {
		// 	display: none;
		// }

		img {
			width: 100%;
		}
	}

	&__logo-sp {
		width: 15.9rem;
		position: absolute;
		top: 1.5rem;
		left: 2.2rem;

		img {
			width: 100%;
		}
	}

	.hamburger {
		display: none;

		// @include u-mqMax {
		// 	display: block;
		// 	z-index: 5;
		// 	position: absolute;
		// 	top: 1.4rem;
		// 	right: 1.6rem;
		// }
	}

	.hamburger__menu {
		font-size: 1.6rem;
		line-height: 1.2;
		color: $white;
		font-size: $Font2;
	}

	.hamburger__trigger,
	.hamburger__trigger .hamburger__triggerSpan {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
	}
	.hamburger__trigger {
		position: relative;
		width: 4.4rem;
		height: 2.6rem;
		background: none;
		border: none;
		appearance: none;
		cursor: pointer;
	}
	.hamburger__trigger .hamburger__triggerSpan {
		position: absolute;
		left: 0;
		width: 100%;
		height: 0.2rem;
		background-color: #fff;
		border-radius: 4px;
	}
	.hamburger__trigger .hamburger__triggerSpan:nth-of-type(1) {
		top: 0;
	}
	.hamburger__trigger .hamburger__triggerSpan:nth-of-type(2) {
		top: 13px;
	}
	.hamburger__trigger .hamburger__triggerSpan:nth-of-type(3) {
		bottom: 0;
	}

	.hamburger__trigger.is-active .hamburger__triggerSpan:nth-of-type(1) {
		transform: translateY(13px) rotate(-45deg);
	}
	.hamburger__trigger.is-active .hamburger__triggerSpan:nth-of-type(2) {
		opacity: 0;
	}
	.hamburger__trigger.is-active .hamburger__triggerSpan:nth-of-type(3) {
		transform: translateY(-11px) rotate(45deg);
	}
}
