/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  padding: 2rem 2rem 1.5rem;
  background: url("../images/common/footer_kv.png") center center no-repeat;

  @include u-mqMax {
    padding: 3rem;
  }

  &__wrapper {
    @include u-flex($fd: row, $fw: nowrap, $jc: center, $ai: center);

    @include u-mqMax {
      @include u-flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: flex-end);
    }
  }

  &__kv {
    width: 7.5rem;

    img {
      width: 100%;
    }
  }

  &__content {
    margin-left: 1.5rem;

    @include u-mqMax {
      margin-left: 1.3rem;
    }
  }

  &__name {
    font-weight: 700;
    color: $white;
    margin: 0;
    line-height: 1.4;
    font-family: $Font1;

    &.small {
      font-size: 2.3rem;
    }

    &.big {
      font-size: 4.5rem;
    }
  }

  &__details {
    margin: 1rem 0 0;
    font-size: 1.8rem;
    color: $white;
    font-family: $Font1;

    @include u-mqMax {
      margin: 0;
    }
  }
}
