/*====================================================================
hamMenuBtn
====================================================================*/
.hamMenuBtn {display: none;}


@include u-mqMax {
  .hamMenuBtn {
    width: $headerHeightSP;
    height: $headerHeightSP;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &__border {
      width: 80%;
      height: 2px;
      background: $textColor;
      display: block;
      position: absolute;
      left: 50%;

      &:nth-child(1) {
        top: 12px;
        transform: translateX(-50%);
        animation: HamBtnCloseTop 0.3s ease-in-out 0s forwards;
      }
      &:nth-child(2) {
        @include u-trs($duration: 0.3s);
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-child(3) {
        bottom: 12px;
        transform: translateX(-50%);
        animation: HamBtnCloseBottom 0.3s ease-in-out 0s forwards;
      }
    }

    // open
    &.is-active {
      [class$="__border"] {
        &:nth-child(1) {
          animation: HamBtnOpenTop 0.3s ease-in-out 0s forwards;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          animation: HamBtnOpenBottom 0.3s ease-in-out 0s forwards;
        }
      }
    }
  }
}


/*====================================================================
hamMenuContent
====================================================================*/
.hamMenuContent {display: none;}

@include u-mqMax {
  .hamMenuContent {
    @include u-flex($jc: center, $ai: center);
    @include u-trs($duration: 0.3s);
    padding-top: $headerHeightSP;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $bgColor04;
    transform: translateX(100%);

    &__pageList {
      @include u-trs($duration: 0.2s, $delay: 0.2s);
      padding: 40px;
      background: $bgColor02;
      overflow: hidden;
    }

    &__pageItem {
      overflow: hidden;
    }

    &__pageLink {
      @include u-trs($duration: 0.2s, $delay: 0.3s);
      @include u-articleText($fw: bold);
      padding: 10px;
      display: block;
    }


    // open
    &.is-active {
      transform: none;

      [class$="__pageList"] {

      }

      [class$="__pageItem"] {

      }

      [class$="__pageLink"] {

      }
    }
  }
}
