/*====================================================================
lowerPageFv
====================================================================*/
.lowerPageFv {
  @include u-flex($jc: center, $ai: center);
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include u-mqMax {
    height: 125px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($bgColor01, 0.5);
  }

  &__pageTitle {
    position: relative;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
  }
}
