/*====================================================================
modalWrap
====================================================================*/
.modalWrap {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    @include u-trsPC;
  }

  @include u-hover {
    img {
      transform: scale(1.1);
    }
  }

  &__button {
    @include u-imgText;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $keyColor02;

    @include u-mqMax {
      width: 25px;
      height: 25px;
    }

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 2px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      background: $textColor;

      @include u-mqMax {
        width: 15px;
        height: 1px;
      }
    }
    &::before {
      transform: translate(-50%, -50%);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
