/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  @include u-flex($ai: center);
  width: 100%;
  height: $headerHeightPC;
  padding-left: $contentPaddingPC;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($bgColor01, 0.6);
  z-index: 100;

  @include u-mqMax {
    height: $headerHeightSP;
    padding-left: $contentPaddingSP;
  }

  .is_login_user & {
    top: $wpAdminBarPC;

    @include u-mqMax {
      top: $wpAdminBarSP;
    }
  }

  &__logo {
    width: 190px;
    z-index: 1;

    @include u-mqMax {
      width: 95px;
    }
  }

  &__logoLink {
    display: block;

    @include u-hover {
      [class$="__logoImg"] {
        fill: $keyColor02;
      }
    }
  }

  &__logoImg {
    @include u-trsPC;
    width: 100%;
    fill: $textColor;
  }


  // gNav
  &__gNav {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include u-mqMax {
      display: none;
    }
  }

  &__gNavPageList {
    @include u-flex;
  }

  &__gNavItem {
    position: relative;

    &::before {
      content: '';
      width: 1px;
      height: 15px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $textColor;
    }

    &:nth-child(1) {
      &::before {display: none;}
    }
  }

  &__gNavLink {
    @include u-trsPC;
    @include u-flex($ai: center);
    height: $headerHeightPC;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 0.36em;

    @include u-hover {
      color: $keyColor02;
      font-weight: bold;
    }

    &::after {
      content: '';
      width: calc(100% - (30px * 2));
      height: 5px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $keyColor01;
    }
  }

  // bnr
  &__bnr {
    @include u-imgText;
    @include u-trsPC;
    @include u-hoverOp;
    width: $headerHeightPC;
    height: $headerHeightPC;
    position: absolute;
    top: 0;
    right: 0;
    background: $textColor url('../images/common/icon-contact.png') no-repeat center / 29px auto;

    @include u-mqMax {
      width: $headerHeightSP;
      height: $headerHeightSP;
      right: $headerHeightSP;
    }
  }
}
