/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  padding: 50px 0 20px;
  background: $bgColor01;

  &__innerArea {
    @include u-contentCenter;
  }

  &__clmArea {
    @include u-flex($jc: space-between);

    @include u-mqMax {
      flex-direction: column;
    }
  }

  &__leftArea {
    @include u-flex($fd: column, $jc: space-between);
  }

  &__logo {
    width: 190px;
  }

  &__logoImg {
    @include u-trsPC;
    width: 100%;
    fill: $textColor;
  }

  &__address {
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.5;

    @include u-mqMax {
      font-size: 1.2rem;
    }
  }


  // nav
  &__nav {
    @include u-flex($fw: wrap);

    @include u-mqMax {
      margin-top: 30px;
      justify-content: space-between;
    }
  }

  &__pageList {
    margin-left: 40px;

    &:nth-child(1) {
      margin-left: 0;
    }

    @include u-mqMax {
      width: calc((100% - 20px) / 2);
      margin-left: 0;
    }
  }

  &__pageLink {
    @include u-trsPC;
    padding: 10px 0;
    display: block;

    @include u-hover {
      color: $keyColor02;
    }

    @include u-mqMax {
      padding: 5px 0;
    }
  }

  &__childPageList {
    padding-left: 10px;
    border-left: 1px solid $textColor;
  }

  &__childPageLink {
    @include u-trsPC;
    padding: 5px 0;
    display: block;

    @include u-hover {
      color: $keyColor02;
    }
  }


  // copy
  &__copy {
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: right;
  }
}
