/*====================================================================
COMMON LAYOUT
====================================================================*/
* {color: $textColor;}

html {
  font-size: 62.5%; // = 10px
}

body {
  background: $bgColor02;
  @include fontFeature;
}


/*-----------------------------------------------
PC/SP 出し分け
------------------------------------------------*/
.u-pcDb { display: block; }
.u-pcDib { display: inline-block; }
.u-pcDin { display: inline; }
.u-pcDf { display: flex; }
.u-pcDt { display: table; }
.u-pcDtc { display: table-cell; }

.u-spDb,
.u-spDib,
.u-spDin,
.u-spDf,
.u-spDt,
.u-spDtc { display: none; }

@include u-mqMax {
  .u-pcDb,
  .u-pcDib,
  .u-pcDin,
  .u-pcDf,
  .u-pcDt,
  .u-pcDtc { display: none; }

  .u-spDb { display: block; }
  .u-spDib { display: inline-block; }
  .u-spDin { display: inline; }
  .u-spDf { display: flex; }
  .u-spDt { display: table; }
  .u-spDtc { display: table-cell; }
}


/*-----------------------------------------------
サイトコンテンツ
------------------------------------------------*/
.siteContent {
  min-height: calc(100vh - #{$footerHeightPC});
  padding-top: $headerHeightPC;

  .is_login_user & {

  }

  @include u-mqMax {
    min-height: calc(100vh - #{$footerHeightSP});
    padding-top: $headerHeightSP;
  }
}


/*-----------------------------------------------
WPツールバー
------------------------------------------------*/
@include u-mqMax($maxW: 600px) {
  #wpadminbar {
    .is_login_user & {
      position: fixed;
    }
  }
}
