// Internal fonts
@font-face {
  font-family: "YuMincho";
  font-weight: normal;
  src: url("../font/A-OTF-A1MinchoStd-Bold.otf");
}

// External fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

$Roboto: "Roboto", sans-serif;
$NotosansJP: "Noto Sans JP", sans-serif;
$yugothic: yu-gothic-pr6n, sans-serif;
$Font1: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
$Font2: "Helvetica Neue, Helvetica, Arial, " 游ゴシック ", YuGothic, " Hiragino Kaku Gothic ProN ", Meiryo, sans-serif";
