// color
$white: #fff;
$black: #222;
$gray: #666;
$grayLight: #707070;
$grayMid: #737272;
$lightGray: #efefef;
$darkGray: #212121;
$blue: #387ab8;
$darkBlue: #00316a;
$lightblue: #b9e6f8;
$bodyBg: #e4f4f7;
$activeRed: #fb3e1d;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 112px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
